/* :root {
  --licorice: #220C10;
  --feldgrau: #506C64;
  --ashGrey: #BAC7BE;
}

* {
  background-color: var(--feldgrau);
}

.header {

}

div.header, div.header > * {
  background-color: var(--licorice);
  color: var(--ashGrey);
}

.todos {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
}

div.todos, div.todos > * {
  background-color: var(--licorice);
  color: var(--ashGrey);
}

.todoText {
  background-color: var(--licorice);
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

div.footer, div.footer > * {
  background-color: var(--licorice);
  color: var(--ashGrey);
} */