/* :root {
  --licorice: #220C10;
  --feldgrau: #506C64;
  --ashGrey: #BAC7BE;
}

* {
  background-color: var(--feldgrau);
  color: var(--ashGrey);
} */

/* .content {
  color: var(--ashGrey);
  background-color: var(--ashGrey);
}*/

/* .nav {
  float: right;
}



.header {
  background-color: var(--licorice);
  padding-top: 2%;
  padding-bottom: 2%;
}

.nav-link {
  color: var(--feldgrau);
} */

/* div.header, div.header > * {
} */

/* .footer {
  position: absolute;
  bottom: 0;
}

div.footer, div.footer > * {
  background-color: var(--licorice);
}

.pfp {
  float: left;
  max-width: 13%;
  height: auto;
  margin-right: 1%;
}

.appImg {
  max-width: 20%;
  margin-right: 2%;
  margin-bottom: 2%;
  max-height: auto;
}

.github {
  max-width: 3%;
  max-height: auto;
} */